Source: ros-indigo-rail-face-detection
Section: misc
Priority: extra
Maintainer: Siddhartha Banerjee <banerjs.sid@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rail_face_detection
Standards-Version: 3.9.2

Package: ros-indigo-rail-face-detection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rail-face-detection-msgs, ros-indigo-rail-face-detector
Description: Face Detection methods used in the RAIL Lab
